# Backend API base URL (must end with a slash, e.g., https://api.example.com/)
NEXT_PUBLIC_API_BASE_URL=

# Next-Auth Secret (a random string for encrypting cookies)
NEXTAUTH_SECRET=

# Next-Auth base URL (e.g. http://localhost:3000)
NEXTAUTH_URL=http://localhost:3000

# Site URL (Optional, fallback for origin verification)
NEXT_PUBLIC_SITE_URL=http://localhost:3000
